<div class="widget-recent widget">
	<h4 class="widget__title">Donations</h4>
	<div class="widget__content">
		Donate to support our development efforts.
		<ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=boobaa%40frugalware%2eorg&currency_code=HUF&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted">Donate via Paypal</a></li>
			<li class="widget__item"><a class="widget__link" href="http://flattr.com/thing/269195/Frugalware-Linux">Flattr this</a></li>
		</ul>
	</div>
</div>