<div class="widget-recent widget">
	<h4 class="widget__title">Get frugalware</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item"></li>
			Current version - 2.1 Derowd</br>
			Released on Sep 04, 2016 -</br>
			64bits</br>
			<ul>
			<li><a class="widget__link" href="http://www13.frugalware.org/pub/frugalware/frugalware-stable-iso/fvbe-2.1-basic-x86_64.iso">basic</a></li>
			<li><a class="widget__link" href="http://www13.frugalware.org/pub/frugalware/frugalware-stable-iso/fvbe-2.1-gnome-x86_64.iso">gnome</a></li>
			<li><a class="widget__link" href="http://www13.frugalware.org/pub/frugalware/frugalware-stable-iso/fvbe-2.1-kde5-x86_64.iso">kde</a></li>
			<li><a class="widget__link" href="/docs">See documentation</a> - <a class="widget__link" href="/download">Other mirrors</a></li>
			</ul>
		</ul>
	</div>
</div>