<div class="widget-recent widget">
	<h4 class="widget__title">IRC</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="irc://irc.freenode.net/frugalware">#frugalware - Official channel</a></li>
			<li class="widget__item"><a class="widget__link" href="irc://irc.freenode.net/frugalware.fr">#frugalware.fr - French channel</a></li>
			<li class="widget__item"><a class="widget__link" href="irc://irc.freenode.net/frugalware.hu">#frugalware.hu - Hungarian channel</a></li>
		</ul>
	</div>
</div>